<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>
<body style="margin:0; padding:0; font-family:'Segoe UI', sans-serif; height:100vh; display:flex; justify-content:center; align-items:center;">

  <div style="background-color:#fff; padding:50px 40px; border-radius:15px;  width:320px; text-align:center;">
    <h2 style="margin-bottom:25px; color:#333; font-size:28px;">login Page</h2>
    
    <form>
      <input type="text" placeholder="Username" required
        style="width:93%; padding:12px; margin:12px 0; border:1px solid #ddd; border-radius:8px; font-size:16px;" />
      <input type="password" placeholder="Password" required
        style="width:93%; padding:12px; margin:12px 0; border:1px solid #ddd; border-radius:8px; font-size:16px;" />
      <button type="submit"
        style="width:100%; padding:12px; background-color:#4b6cb7; color:white; border:none; border-radius:8px; font-size:16px; cursor:pointer; transition:background 0.3s;">
        Login
      </button>
      <p><a href= "#" style= "text-decoration:none; color:black;">Forgot Password</a></p>
    </form>
  </div>
</body>
</html>