<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>
<body style="margin:0; padding:0; font-family:'Segoe UI', sans-serif; height:100vh; display:flex; justify-content:center; align-items:center;">

  <div style="background-color:skyblue; padding:50px 40px; border-radius:15px;  width:320px; text-align:center;">
    <h2 style="margin-bottom:25px; color:#333; font-size:32px;">Signup</h2>
    
    <form action="/signup" method="post" >
      <input type="text" placeholder="Frist Name" required
        style="width:93%; padding:12px; margin:12px 0; border:1px solid #ddd; border-radius:8px; font-size:16px;" />
        <input type="text" placeholder="Last Name" required
        style="width:93%; padding:12px; margin:12px 0; border:1px solid #ddd; border-radius:8px; font-size:16px;" />
      <input type="Email" placeholder="Email" required
        style="width:93%; padding:12px; margin:12px 0; border:1px solid #ddd; border-radius:8px; font-size:16px;" />
      <input type="text" placeholder= "Enter your hobbies" required style="width: 93%; padding:12px; margin:12px 0; border:1px solid #ddd; border-radius: 8px; font-size: 16px;" > 
      <input type="password" placeholder=" Set Password" required
        style="width:93%; padding:12px; margin:12px 0; border:1px solid #ddd; border-radius:8px; font-size:16px;" />
      
      <button type="submit"
        style="width:100%; padding:12px; background-color:#4b6cb7; color:white; border:none; border-radius:8px; font-size:16px; cursor:pointer; transition:background 0.3s;">
        <a href="/login" style="text-decoration: none; color: #ffffff;">Submit</a>
      </button>
      
    </form>
  </div>
</body>
</html>